{% extends 'base.html.twig' %}

{% block title %}Blog{% endblock %}

{% block body %}

    <div class="container mx-auto px-4 py-8">
        <a href="/">Retour</a>
        <section class="py-12">
            <article class="bg-gray-100 p-8 rounded-xl">
                <h2 class="text-lg font-bold">Titre de l'article</h2>
                <p class="text-gray-500 text-sm">Ecrit le 05/01/2021 à 19:00 par Juliette.</p>
                <img class="my-4" src="http://placehold.it/350x150" alt="#">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </article>
        </section>
    </div>

{% endblock %}
